@use 'utils';

.infoSectionWrapper {
	margin: utils.$standardPadding;

}

.infoSectionTitle {
    text-align: center;
    font-size: clamp(32px, 8vw, 48px);
    letter-spacing: 20px;
    margin-bottom: 2%;

}

.infoSectionItems {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(25px);
    position: relative;
    min-height: 200px;
    padding: 2% 4%;
}
